* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  
  body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: #181818;
  }

/* header */

#header
{
    height: 70px;
}

#header_logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_icon a

{
   position: relative;
   top:27px;
   left:30px;
   font-size: 20px; 
   color:grey;
}

#header_image img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


/* article */

#section_menu
{
    background-color: #f6f6f6;


}

#menu
{
    background-color: #f6f6f6;
    border-radius: 35px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: -35px;
}

#menu_contenu
{
    margin-left: 25px;
    margin-right: 25px;
}

#menu_contenu_titre
{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu_contenu_titre #heart
{
    margin-left:25px;
    padding-right: 20px;
    font-size: 25px; 
    color:grey
}

:root{
    --primary-color:#9356DC;
    --secondary-color:#FF79DA;
    }
    
     #heart>.far.fa-heart{
            font-size: 28px;
            cursor: pointer;
            transition: color 150ms 50ms ease;
            z-index: -99;
     }
    
    
    #heart .fas.fa-heart{
            background: linear-gradient(170deg,var(--secondary-color),var(--primary-color));
            font-size: 27.2px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(0);
            transition: transform 150ms 50ms ease-in-out;
             position: relative;
             left: -37px;
    }
    
     #heart .far.fa-heart:hover{
          color:transparent;
      }
    
    #heart>.far.fa-heart:hover  .fas.fa-heart{
    transform: scale(1);
    }

#heart
{
    margin-right:-30px;
}
    
#menu_contenu_titre h2
{
    font-family: "Shrikhand", sans-serif;
}

#menu_choix
{
    padding-top:10px;

}

.menu_choix_titre
{
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    padding-top:20px;
    border-width: 3px;
    width: 40px;

}

.menu_choix_contenu
{
    background-color: white;
    border-radius: 13px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left:10px;
    margin-bottom: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top:20px;
    display:flex;
    flex-direction: flex;
    justify-content: space-between;
    position: relative;

}

.menu_choix_contenu_text
{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis; 
}

.menu_choix_contenu_text strong
{
    padding-bottom: 6px;
}

.menu_choix_contenu_text span 
{
    font-size: 14px;
    font-weight: lighter;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}

.menu_choix_contenu_prix 
{
    padding-top: 40px;
    display: flex;
    flex-direction: flex;
}

.menu_choix_contenu_text
{
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
    padding-right: 80px;
}

.menu_anim .menu_choix_contenu_text
{
display: flex;
flex-direction: flex;
text-overflow: ellipsis; 
white-space: nowrap; 
overflow: hidden;

}

.menu_anim:hover
{
    padding-left: 30px;
    margin-left:20px;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

/* partie animation css */ 


.check_box
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    right:-5rem; /*position finale */
    transition: all 1s ease;

}

.menu_choix_contenu:hover .check_box
{
    
    right:0rem;

}

.menu_choix_contenu:hover
{
    text-overflow: ellipsis;
}

.check
{
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom:13px;

}

.fa-check-circle
{
    color: white;
    font-size: 20px;
}

.menu_choix_contenu:hover .fa-check-circle
{
   animation: circle 1s 200ms ease-out forwards; /* forwards = l'animation a lieu et après finit */
}

@keyframes circle
{
    0% {transform: translate(0deg);}
    100% {transform: rotate(1turn);}
}

.menu_choix_contenu_prix
{
    position: absolute;
    right: 40px;
    transition: all 1s ease;
}

.menu_choix_contenu:hover .menu_choix_contenu_prix
{
    right:6rem;
}

#menu_choix_entree
{
    animation: fadein 2s 1s ease-out;
}

#menu_choix_plats
{
    animation: fadein 2s 1.5s ease-out;
}

#menu_choix_dessert
{
    animation: fadein 2s 2s ease-out;
}

@keyframes fadein 

{
    from { opacity: 0; transform:translate(0%,-10%);}
    to   { opacity: 1; }
}

/* bouton_commander */

#bouton_commander
{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;

}

#bouton_commander a

{
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 40px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom:50px;
    text-decoration: none;
}

#bouton_commander a:hover
{
    opacity: 90%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 5px -3px, rgba(0, 0, 0, 0.06) 0px 4px 6px -2px;
}

/* footer */

#footer
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top:20px;
    background-color: #353535;
    padding-bottom:30px;
}

#footer_logo
{
    padding-top:10px;
    padding-bottom: 15px;
}

#footer_logo img
{
    height: 20px;
}

#footer_info p
{
color: white;
}

.footer_text_avec_icon
{
    padding-top:5px;
    display: flex;
    align-items: center;
}

.footer_info_icon
{
    font-size: 13px;
    color: white;
    padding-right: 8px;
}

.footer_text_sans_icon
{
    padding-top:5px;
    display: flex;
    align-items: center;
}

.footer_text_sans_icon a
{
    text-decoration: none;
    color: white;

}
