* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  

  
  body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    color: #181818;
  }
  
  /* header */

#header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header_logo
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 3px black;
}

#header_location
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eaeaea;
    width: 100%;
    box-shadow: top 30px black;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 5px 0px inset;
  
}

#header_location_icon
{
    padding-right: 15px;
    font-size: 20px;
}

#header_location_text
{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

#header_calltoaction
{
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#header_calltoaction h2
{
padding-top: 30px;
padding-bottom: 10px;
}

#header_calltoaction a /* bouton */
{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 40px;
    padding: 20px;
    margin-top: 30px;
    text-decoration: none;
}



/* fonctionnement */

#fonctionnement
{
    margin-bottom:40px;
    margin-top:40px;
;
}

#fonctionnement .fa-list-ul:hover
{
    background-color: #9356DC;
}

#fonctionnement_titre
{
    margin-left:25px;
    margin-right:25px;
}

#fonctionnement_contenu
{
    margin-left:25px;
    margin-right:25px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.fonctionnement_contenu_chiffre
{
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: #9356DC;
    position: relative;
    display: flex;
    align-items: center;
    top:60px;
    right:13px;
}

.fonctionnement_contenu_chiffre p
{
    color:white;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
}

.fonctionnement_contenu_box
{
    background-color: #f6f6f6;
    border-radius: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.fonctionnement_contenu_box:hover
{
    background-color: #f4edfd;
}

.fonctionnement_contenu_box_icon 
{
    padding-left: 40px;
    display: flex;    
}

.fonctionnement_contenu_box_icon i:hover
{
    color: #9356DC;
}

.fonctionnement_contenu_box_icon i
{
    font-size: 23px; 
    color: grey;
}

.fonctionnement_contenu_box a
{
  margin-left:30px;
    font-weight: bold;
}


/*restaurant*/

#restaurants
{
    background-color:#f6f6f6;
}

#restaurants_titre
{
    padding-top: 60px;
    margin-left:25px;
    margin-right:25px;
}

#restaurants_contenu
{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color:#f6f6f6;
}

.restaurant_contenu_box img
{
    display: flex;
    flex-direction: flex;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.restaurant_contenu_box
{
    margin-left:25px;
    margin-right:25px;
    display: flex;
    justify-content: flex-end;
    height: 210px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 30px;

}

.restaurant_contenu_box a
{
    text-decoration: none;
    color: black;

}

.restaurant_contenu_box_bouton
{
    background-color: #99E2D0;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    margin-top:20px;
    margin-right:15px;
    margin-left:-15px;
    padding:8px;
    padding-left: 14px;
    display: flex;
    
}

.restaurant_contenu_box_bouton p
{
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #49947a;
}

.restaurant_contenu_box_description
{
    display: flex;
    justify-content: space-between;
}

.restaurant_contenu_box_description_text
{
    padding-left: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}

.restaurant_contenu_box_description_icon
{
    padding-right:20px;
    padding-top: 14px;
    display: flex;
    flex-direction: flex;
}


.fa-heart:hover
{
    background-image: linear-gradient(#FF79DA, #9356DC); 
    background-image: "fas fa-heart";
    
}

.restaurant_contenu_box_description_icon i
{
    padding-top:4px;
    font-size: 25px; 
    color: grey;
}


/* footer */

#footer
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top:20px;
    background-color: #353535;
    padding-bottom:30px;
}

#footer_logo
{
    padding-top:10px;
    padding-bottom: 15px;
}

#footer_logo img
{
    height: 20px;
}

#footer_info p
{
color: white;
}

.footer_text_avec_icon
{
    padding-top:5px;
    display: flex;
    align-items: center;
}

.footer_info_icon
{
    font-size: 13px;
    color: white;
    padding-right: 8px;
}

.footer_text_sans_icon
{
    padding-top:5px;
    display: flex;
    align-items: center;
}
